{
  "presets" : ["es2015", "stage-0"],
  "plugins": [
    ["babel-plugin-root-import", 
    	[{
	      "rootPathPrefix": "~", // `~` is the default so you can remove this if you want
	      "rootPathSuffix": "src"
	    },
	    {
	      "rootPathPrefix": "@",
	      "rootPathSuffix": "src/data"
	    }]
    ]
  ]
}